@model IEnumerable<Hever.Models.Users>

@{
    Hever.Models.Users activeUser = ((Hever.Models.Users)Session["user"]);
    ViewBag.Title = "Users";
}

<h2>Our Users</h2>

<div class="container" style="display:flex;justify-content:flex-start">
    @using (Html.BeginForm("Search", "Users", FormMethod.Get))
    {
        <form class="form-inline">
            <div class="form-group col-md-2" style="width:fit-content">
                <div>
                    <input class="form-control" type="text" name="username" placeholder="Username" />
                </div>
            </div>
            <div class="form-group col-md-2" style="width:fit-content">
                <div>
                    <input type="radio" name="isAdmin" value="True"> Admin<br>
                    <input type="radio" name="isAdmin" value="False"> Not Admin<br>
                    <input type="radio" name="isAdmin" value="dont filter"> Don't Care<br>
                </div>
            </div>
            <div class="form-group col-md-3">
                <button type="submit" class="btn btn-info">
                    <span class="glyphicon glyphicon-search">
                        Search
                    </span>
                </button>
            </div>
        </form>
    }
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAdmin)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAdmin)
            </td>
            <td>
                @if (item.IsAdmin)
                {
                    @Html.ActionLink("Unmake admin", "MakeAdmin", new { isAdmin = true, id = item.Id })
                }
                else
                {
                    @Html.ActionLink("Make admin", "MakeAdmin", new { isAdmin = false, id = item.Id })
                }
                | @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
