<link href="~/Content/home.css" rel="stylesheet" />

@{
    Hever.Models.Users activeUser = ((Hever.Models.Users)Session["user"]);
    ViewBag.Title = "Home";
}

@if (activeUser == null)
{
    <div class="row">
        <div class="col-sm-6">
            <a role="button" class="btn home-btn" style="background-color: #47a447;" href="/Home/About">About</a>
        </div>
    </div>
}
else
{
        <div class="row">
            <div class="col-sm-6">
                <a role="button" class="btn home-btn" style="background-color: #d9534f;" href="/Restaurants">Restaurants</a>
            </div>
            <div class="col-sm-6">
                <a role="button" class="btn home-btn" style="background-color: #5bc0de;" href="/Stores">Shopping</a>
            </div>
        </div>
        <div class="container">
            <hr>
            <h2 class="intro-text text-center">
                Recommendations
                <strong>For You!</strong>
            </h2>
            <hr>

                <div class='row'>
                    <div class='col-md-offset-1 col-sm-5'>
                        <div class="carousel slide quote-carousel" data-ride="carousel" id="quote-carousel">
                            <!--Carousel Slides / Quotes -->
                            <div class="carousel-inner">
                                @for (var i = 0; ViewBag.recommendedRestaurants != null &&
                                 i < Enumerable.Count(ViewBag.recommendedRestaurants); i++)
                                {
                                    var res = ViewBag.recommendedRestaurants[i];
                                    if (i == 0)
                                    {
                                        <div class="item active">
                                            <blockquote>
                                                <div class="row">
                                                    <div class="col-sm-3 text-center">
                                                        <img class="img-circle" src="~/Content/Images/restaurant.png" style="width: 100px;height:100px;">
                                                    </div>
                                                    <div class="col-sm-8 col-md-offset-1 ">
                                                        <p>@res.RestaurantType - @res.Name</p>
                                                        <small>@res.FullAddress</small>
                                                        @if (res.IsAccessible)
                                                        {
                                                            <small>Accessible</small>
                                                        }
                                                        else
                                                        {
                                                            <small>Not accessible</small>
                                                        }
                                                        @if (res.IsKosher)
                                                        {
                                                            <small>Kosher</small>
                                                        }
                                                        else
                                                        {
                                                            <small>Not kosher</small>
                                                        }
                                                    </div>
                                                </div>
                                            </blockquote>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="item">
                                            <blockquote>
                                                <div class="row">
                                                    <div class="col-sm-3 text-center">
                                                        <img class="img-circle" src="~/Content/Images/restaurant.png" style="width: 100px;height:100px;">
                                                    </div>
                                                    <div class="col-sm-8 col-md-offset-1 ">
                                                        <p>@res.RestaurantType - @res.Name</p>
                                                        <small>@res.FullAddress</small>
                                                        @if (res.IsAccessible)
                                                        {
                                                            <small>Accessible</small>
                                                        }
                                                        else
                                                        {
                                                            <small>Not accessible</small>
                                                        }
                                                        @if (res.IsKosher)
                                                        {
                                                            <small>Kosher</small>
                                                        }
                                                        else
                                                        {
                                                            <small>Not kosher</small>
                                                        }
                                                    </div>
                                                </div>
                                            </blockquote>
                                        </div>
                                    }
                                }
                            </div>

                            <!-- Carousel Buttons Next/Prev -->
                            <a data-slide="prev" href="#quote-carousel" class="left carousel-control" style="background-image: linear-gradient(to left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%); color:#222; font-size: 2.3em;"><i class="fa fa-chevron-left"></i></a>
                            <a data-slide="next" href="#quote-carousel" class="right carousel-control" style="background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);color:#222; font-size: 2.3em"><i class="fa fa-chevron-right"></i></a>
                        </div>
                    </div>
                    <div class='col-md-offset-1 col-md-5'>
                        <div class="carousel slide quote-carousel" data-ride="carousel" id="quote-carousela">
                            <!--Carousel Slides / Quotes -->
                            <div class="carousel-inner">
                                @for (var i = 0; ViewBag.recommendedStores != null &&
                                     i < Enumerable.Count(ViewBag.recommendedStores); i++)
                                {
                                    var store = ViewBag.recommendedStores[i];
                                    if (i == 0)
                                    {
                                        <div class="item active">
                                            <blockquote>
                                                <div class="row">
                                                    <div class="col-sm-3 text-center">
                                                        <img class="img-circle" src="~/Content/Images/store.jpg" style="width: 100px;height:100px;">
                                                    </div>
                                                    <div class="col-sm-8 col-md-offset-1 ">
                                                        <p>@store.StoreType - @store.Name</p>
                                                        <small>@store.FullAddress</small>
                                                        @if (store.IsAccessible)
                                                        {
                                                            <small>Accessible</small>
                                                        }
                                                        else
                                                        {
                                                            <small>Not accessible</small>
                                                        }
                                                    </div>
                                                </div>
                                            </blockquote>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="item">
                                            <blockquote>
                                                <div class="row">
                                                    <div class="col-sm-3 text-center">
                                                        <img class="img-circle" src="~/Content/Images/store.jpg" style="width: 100px;height:100px;">
                                                    </div>
                                                    <div class="col-sm-8 col-md-offset-1 ">
                                                        <p>@store.StoreType - @store.Name</p>
                                                        <small>@store.FullAddress</small>
                                                        @if (store.IsAccessible)
                                                        {
                                                            <small>Accessible</small>
                                                        }
                                                        else
                                                        {
                                                            <small>Not accessible</small>
                                                        }
                                                    </div>
                                                </div>
                                            </blockquote>
                                        </div>
                                    }
                                }
                            </div>

                            <!-- Carousel Buttons Next/Prev -->
                            <a data-slide="prev" href="#quote-carousela" class="left carousel-control" style="background-image: linear-gradient(to left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%); color:#222; font-size: 2.3em;"><i class="fa fa-chevron-left"></i></a>
                            <a data-slide="next" href="#quote-carousela" class="right carousel-control" style="background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);color:#222; font-size: 2.3em"><i class="fa fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        }

        <script>
            $(document).ready(function () {
                //Set the carousel options
                $('#quote-carousela').carousel({
                    pause: true,
                    interval: 4000,
                });
            });
            $(document).ready(function () {
                //Set the carousel options
                $('#quote-carousel').carousel({
                    pause: true,
                    interval: 4000,
                });
            });

        </script>
