@{
    Hever.Models.Users activeUser = ((Hever.Models.Users)Session["user"]);
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - HEVER</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

                @if (activeUser != null)
                {
                    @Html.ActionLink("Restaurants", "", "Restaurants", new { area = "" }, new { @class = "navbar-brand" })

                    @Html.ActionLink("Stores", "", "Stores", new { area = "" }, new { @class = "navbar-brand" })
                }

                @if (activeUser != null && activeUser.IsAdmin)
                {
                    @Html.ActionLink("Users", "", "Users", new { area = "" }, new { @class = "navbar-brand" })

                    @Html.ActionLink("Statistics", "", "Stats", new { area = "" }, new { @class = "navbar-brand" })
                }

                @Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "navbar-brand" })


                @if (activeUser == null)
                {
                    @Html.ActionLink("Register", "", "Users/Create", new { area = "" }, new { @class = "navbar-brand" })

                    @Html.ActionLink("Login", "", "Users/Login", new { area = "" }, new { @class = "navbar-brand" })
                }
                else
                {
                    <span style="color: white !important; font-size: 16px; pointer-events: none;">
                        Welcome @(activeUser.UserName)
                    </span>

                    @Html.ActionLink("Logoff", "", "Users/Logout", new { area = "" }, new { @class = "navbar-brand" })
                }
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        <div>
            @RenderBody()
        </div>
        <hr />
        <footer>
            <a class="weatherwidget-io" href="https://forecast7.com/en/32d0934d78/tel-aviv-yafo/" data-label_1="TEL AVIV" data-label_2="WEATHER" data-mode="Current" data-theme="weather_one">TEL AVIV WEATHER</a>
            <script>
                !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
            </script>

            <p>&copy; @DateTime.Now.Year - Friend For You!</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/weather.js"></script>
</body>
</html>