@model Hever.Models.Store

@{
    ViewBag.Title = "Details";
}

<hr />
<h2>
    Details For
    <strong>@Html.DisplayFor(model => model.Name)</strong>
</h2>
<hr />

<div>
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd class="title">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullAddress)
        </dt>

        <dd class="address">
            @Html.DisplayFor(model => model.FullAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsAccessible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAccessible)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StoreType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StoreType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>

<section id="map">
    <div class="map-wrapper">
        <div class="map-canvas" id="map-canvas" style="align-content:center; height: 400px; width: 1000px;"></div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="~/Scripts/map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAz63hmvzJ_y-HJephXtcRLUpyRyC3tD4k&callback=initMap" async defer></script>

