@model IEnumerable<Hever.Models.Restaurant>

@{
    Hever.Models.Users activeUser = ((Hever.Models.Users)Session["user"]);
    ViewBag.Title = "Restaurant";
}

<hr>
<h2 class="intro-text text-center">
    Our
    <strong>Restaurants</strong>
</h2>
<hr>

@if (activeUser != null && activeUser.IsAdmin)
{
    <aside style="display: flex;justify-content: flex-end;">
        @Html.ActionLink("Create New Restaurant", "Create")
    </aside>
}

<div class="container">
    @using (Html.BeginForm("Search", "Restaurants", FormMethod.Get))
    {
        <form class="form-inline">
            <div class="form-group col-md-2">
                <div>
                    <select class="form-control" name="restaurantType">
                        <option id="grayOption" value="" selected>Select Store Type</option>
                        @foreach (var name in ViewBag.restaurantTypeList)
                        {
                            <option value="@name">@name</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group col-md-2">
                <div>
                    <select class="form-control" name="area">
                        <option id="grayOption" value="" selected>Select Area</option>
                        @foreach (var area in ViewBag.areaList)
                        {
                            <option value="@area">@area</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group col-md-2">
                <div>
                    <input type="checkbox" name="kosher" value="true" />
                    <span>Kosher only</span>
                </div>
            </div>
            <div class="form-group col-md-2">
                <div>
                    <input type="checkbox" name="accessible" value="true" />
                    <span>Accessible only</span>
                </div>
            </div>
            <div class="form-group col-md-3">
                <button type="submit" class="btn btn-info">
                    <span class="glyphicon glyphicon-search">
                        Search
                    </span>
                </button>
            </div>
        </form>
    }
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Area)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAccessible)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsKosher)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RestaurantType)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        <a href="/Restaurants/Details/@item.Id">
            @Html.DisplayFor(modelItem => item.Name)
        </a>
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FullAddress)
    </td>
    <th>
        @Html.DisplayFor(modelItem => item.Area)
    </th>
    <td>
        @Html.DisplayFor(modelItem => item.IsAccessible)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IsKosher)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.RestaurantType)
    </td>


    <td>
        @if (activeUser != null && ViewBag.Liked != null && ViewBag.Liked.Contains(item))
        {
            @Html.ActionLink("Unlike", "Like", new { id = item.Id })
        }
        else
        {
            @Html.ActionLink("Like", "Like", new { id = item.Id })
        }
    </td>
    @if (activeUser != null && activeUser.IsAdmin)
    {
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    }

</tr>
    }

</table>
